<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">2022 / Выпускная квалификационная работа</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/control-panel" class="nav-link px-2 text-muted">CP</a></li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>
