<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modal-add">
  <div class="modal fade" id="modalAddToCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Товар добавлен в корзину</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" class="modal-body">
          <p th:text="${p.name}"></p>
          <input th:value="${p.id}" name="id" type="hidden">
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ок</button>
          <button type="button" class="btn btn-primary" onclick="location.href='/cart';">Перейти в корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
